@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
    font-family: "__Inter_aaf875", system-ui;
    font-feature-settings: "calt", "rlig";
    font-size: 1.125rem;
    line-height: 24px;
    font-weight: normal;

    font-synthesis: none;
    text-rendering: optimizeLegibility;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;

    --textColor: #ddd;
    --textColorSecondary: #bbb;
    --bgColorTertiary: #222;
    --bgColor: #111;
    --bgColorRGB: 17, 17, 17;
    --bgColorSecondary: #1a1a1a;
    --borderColor: #444;
    --inputColor: #ccc;
    --searchbarColor: black;
}

body {
    @apply bg-[var(--bgColor)] text-[var(--textColor)];
    margin: 0;
    min-width: 320px;
    min-height: 100vh;
}

a {
    font-weight: 500;
    text-decoration: inherit;
}

h1 {
    font-family: ITC-Charter, serif;
    font-size: 6em;
    line-height: 1.1;
}

h2 {
    font-family: ITC-Charter, serif;
    font-size: 1.5em;
    line-height: 0.8;
}

button:focus,
button:focus-visible {
    outline: 4px auto -webkit-focus-ring-color;
}

.text-secondary {
    color: var(--textColorSecondary);
}

.light {
    --textColor: #222;
    --textColorSecondary: #555;
    --bgColor: #f8fcff;
    --bgColorRGB: 248, 252, 255;
    --bgColorSecondary: #fafaff;
    --borderColor: #ddd;
    --inputColor: #fff;
    --bgColorTertiary: #fff;
    --searchbarColor: white;
}
