.form-group {
    display: flex;
    flex-direction: column;
    gap: 0;
}

.error-message {
    color: #ff4f4f;
    font-size: 0.875rem;
}

.form-label {
    font-size: 1.125rem;
    margin-bottom: -0.3rem;
}